ASPNETCORE_ENVIRONMENT=Local
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=MontagemCarga;Username=postgres;Password=postgres
LocationServices__Osrm__BaseUrl=http://localhost:5001
